.EventButton {
  flex-shrink: 0;
  width: 150px;
}

.EventButton:hover {
  width: auto;
  min-width: 150px;
}

.EventButtonDragged {
  min-width: 150px;
}

@media (max-width: 600px) {
  .EventButton {
    width: 100px;
  }

  .EventButton:hover {
    min-width: 100px;
  }

  .EventButtonDragged {
    min-width: 100px;
  }
}

@media (max-width: 400px) {
  .EventButton {
    width: 80px;
  }

  .EventButton:hover {
    min-width: 80px;
  }

  .EventButtonDragged {
    min-width: 80px;
  }
}
